.mv__trip {
  height: 100vh;
  background-image: url(../images/banner_trrrrip.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .mv__trip {
    background-image: url(../images/banner_trrrrip_sp.jpg);
    height: 40vh;
  }
}

.trip__wrap {
  margin: 150px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .trip__wrap {
    margin: 100px auto;
  }
}
@media (max-width: 767px) {
  .trip__wrap {
    margin: 80px auto;
  }
}
.trip__wrap .prod__ttl {
  font-size: 4rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
  text-align: center;
  position: relative;
  padding: 0 55px;
  margin-bottom: 80px;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (max-width: 767px) {
  .trip__wrap .prod__ttl {
    opacity: 1;
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 40px;
  }
}
.trip__wrap .prod__ttl::before, .trip__wrap .prod__ttl::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #333;
}
@media (max-width: 767px) {
  .trip__wrap .prod__ttl::before, .trip__wrap .prod__ttl::after {
    width: 35%;
  }
}
.trip__wrap .prod__ttl::before {
  left: 0;
}
.trip__wrap .prod__ttl::after {
  right: 0;
}
.trip__wrap .prod__ttl .prod__url {
  display: block;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .trip__wrap .prod__ttl .prod__url {
    font-size: 1.3rem;
  }
}
.trip__wrap .prod__cont {
  margin-bottom: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (max-width: 767px) {
  .trip__wrap .prod__cont {
    opacity: 1;
    margin-bottom: 40px;
  }
}
.trip__wrap .prod__cont .prod__contTtl {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Noto Sans CJK JP";
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: dotted 1px #333;
}
@media (max-width: 767px) {
  .trip__wrap .prod__cont .prod__contTtl {
    font-size: 1.8rem;
  }
}
.trip__wrap .prod__cont .prod__contTxt {
  font-feature-settings: "palt";
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  font-weight: lighter;
  color: #333;
  line-height: 2;
}
.trip__wrap .prod__img {
  margin-bottom: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (max-width: 767px) {
  .trip__wrap .prod__img {
    margin: 80px 0 40px 0;
  }
}
.trip__wrap .prod__dtl {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (max-width: 767px) {
  .trip__wrap .prod__dtl {
    display: block;
  }
}
.trip__wrap .prod__dtl .prod__dtlRange, .trip__wrap .prod__dtl .prod__dtlTool, .trip__wrap .prod__dtl .prod__dtlPeriod {
  width: 30%;
}
@media (max-width: 767px) {
  .trip__wrap .prod__dtl .prod__dtlRange, .trip__wrap .prod__dtl .prod__dtlTool, .trip__wrap .prod__dtl .prod__dtlPeriod {
    width: 100%;
  }
}
.trip__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
  text-align: center;
  background-color: #e6e6e6;
  padding: 20px;
  font-size: 2rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .trip__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
    font-size: 1.6rem;
  }
}
.trip__wrap .prod__dtl .prod__dtlRange .prod__dtlTxt, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlTxt, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTxt {
  font-weight: lighter;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.trip__wrap .prod__dtl .prod__dtlRange .prod__dtlList, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlList, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList {
  list-style: circle;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.trip__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem {
  margin-bottom: 16px;
  font-weight: lighter;
}
.trip__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem:last-child, .trip__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem:last-child, .trip__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem:last-child {
  margin-bottom: 0;
}
.trip__wrap .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=bannar02.css.map */